.container-all-garage-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 24px;
    
    width: 1103px;
    height: 719px;
    
    background: #FFFFFF;
    border-radius: 16px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.container-infomation-garage-details{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1071px;
height: 591px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.container-infomation-up-garage-details{

align-items: flex-start;
padding: 0px;
gap: 24px;

width: 977px;
height: 312px;


/* Inside auto layout */
display: flex;
flex-direction: column;


}

.container-infomation-up-1-garage-details{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 28px;

width: 977px;
height: 88px;


/* Inside auto layout */
width: 50%;

flex: none;
order: 0;
flex-grow: 0;
}

.container-infomation-up-1-1-garage-details{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 0px;
gap: 8px;
font-weight: bold ;

width: 307px;
height: 56px;

/* Neutral Light/6 */

background: #FFFFFE;
/* Neutral Light/6 */

border: 1px solid #FFFFFE;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


.letter{
    width: 307px;
height: 24px;

/* Paragraph 3/Medium */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
flex-direction: column;


/* Neutral Dark/1 */

color: #111111;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.letter1{
    width: 307px;
height: 24px;

/* Paragraph 3/Medium */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Neutral Dark/1 */

color: #111111;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.container-infomation-down-garage-details{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 1071px;
height: 255px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.container-infomation-down-1-garage-details{
    width: 1071px;
height: 215px;

/* Neutral Light/6 */

background: #FFFFFE;
/* Neutral Dark/5 */

border: 1px solid #DDE4EE;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.container-infomation-down-1-1-garage-details{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 275px;
height: 24px;
left: 16px;
}

.letter2{
    width: 275px;
height: 24px;

/* Paragraph 3/Medium */
padding-left: 16px;
padding-top: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Primary/2 */

color: #805EDF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.container-save-garage-details{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1071px;
height: 72px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.line{
margin-top: auto;
width: 1071px;
height: 0px;

/* Neutral Dark/5 */

border: 1px solid #DDE4EE;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.my-button{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;

width: 109px;
height: 48px;

/* Primary/1 */

border: 1px solid #8767E1;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.letter-button{
    width: 77px;
height: 24px;

/* Paragraph 3/Medium */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Neutral Dark/6 */

color: #F1F4F9;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.container-save-1-garage-details{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 21px;

width: 239px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

button:hover {
    transform: scale(1.1);
  }